:root {
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
}

/* Margin utilities */
.m-2 {
  margin: var(--spacing-2);
}

.m-4 {
  margin: var(--spacing-4);
}

.m-6 {
  margin: var(--spacing-6);
}

.m-8 {
  margin: var(--spacing-8);
}

.m-10 {
  margin: var(--spacing-10);
}

.m-12 {
  margin: var(--spacing-12);
}

.m-16 {
  margin: var(--spacing-16);
}

.m-20 {
  margin: var(--spacing-20);
}

.m-24 {
  margin: var(--spacing-24);
}

.m-28 {
  margin: var(--spacing-28);
}

.m-32 {
  margin: var(--spacing-32);
}

.mt-2 {
  margin-top: var(--spacing-2);
}

.mt-4 {
  margin-top: var(--spacing-4);
}

.mt-6 {
  margin-top: var(--spacing-6);
}

.mt-8 {
  margin-top: var(--spacing-8);
}

.mt-10 {
  margin-top: var(--spacing-10);
}

.mt-12 {
  margin-top: var(--spacing-12);
}

.mt-16 {
  margin-top: var(--spacing-16);
}

.mt-20 {
  margin-top: var(--spacing-20);
}

.mt-24 {
  margin-top: var(--spacing-24);
}

.mt-28 {
  margin-top: var(--spacing-28);
}

.mt-32 {
  margin-top: var(--spacing-32);
}

.mr-2 {
  margin-right: var(--spacing-2);
}

.mr-4 {
  margin-right: var(--spacing-4);
}

.mr-6 {
  margin-right: var(--spacing-6);
}

.mr-8 {
  margin-right: var(--spacing-8);
}

.mr-10 {
  margin-right: var(--spacing-10);
}

.mr-12 {
  margin-right: var(--spacing-12);
}

.mr-16 {
  margin-right: var(--spacing-16);
}

.mr-20 {
  margin-right: var(--spacing-20);
}

.mr-24 {
  margin-right: var(--spacing-24);
}

.mr-28 {
  margin-right: var(--spacing-28);
}

.mr-32 {
  margin-right: var(--spacing-32);
}

.mb-2 {
  margin-bottom: var(--spacing-2);
}

.mb-4 {
  margin-bottom: var(--spacing-4);
}

.mb-6 {
  margin-bottom: var(--spacing-6);
}

.mb-8 {
  margin-bottom: var(--spacing-8);
}

.mb-10 {
  margin-bottom: var(--spacing-10);
}

.mb-12 {
  margin-bottom: var(--spacing-12);
}

.mb-16 {
  margin-bottom: var(--spacing-16);
}

.mb-20 {
  margin-bottom: var(--spacing-20);
}

.mb-24 {
  margin-bottom: var(--spacing-24);
}

.mb-28 {
  margin-bottom: var(--spacing-28);
}

.mb-32 {
  margin-bottom: var(--spacing-32);
}

.ml-2 {
  margin-left: var(--spacing-2);
}

.ml-4 {
  margin-left: var(--spacing-4);
}

.ml-6 {
  margin-left: var(--spacing-6);
}

.ml-8 {
  margin-left: var(--spacing-8);
}

.ml-10 {
  margin-left: var(--spacing-10);
}

.ml-12 {
  margin-left: var(--spacing-12);
}

.ml-16 {
  margin-left: var(--spacing-16);
}

.ml-20 {
  margin-left: var(--spacing-20);
}

.ml-24 {
  margin-left: var(--spacing-24);
}

.ml-28 {
  margin-left: var(--spacing-28);
}

.ml-32 {
  margin-left: var(--spacing-32);
}

.mx-2 {
  margin-left: var(--spacing-2);
  margin-right: var(--spacing-2);
}

.mx-4 {
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-4);
}

.mx-6 {
  margin-left: var(--spacing-6);
  margin-right: var(--spacing-6);
}

.mx-8 {
  margin-left: var(--spacing-8);
  margin-right: var(--spacing-8);
}

.mx-10 {
  margin-left: var(--spacing-10);
  margin-right: var(--spacing-10);
}

.mx-12 {
  margin-left: var(--spacing-12);
  margin-right: var(--spacing-12);
}

.mx-16 {
  margin-left: var(--spacing-16);
  margin-right: var(--spacing-16);
}

.mx-20 {
  margin-left: var(--spacing-20);
  margin-right: var(--spacing-20);
}

.mx-24 {
  margin-left: var(--spacing-24);
  margin-right: var(--spacing-24);
}

.mx-28 {
  margin-left: var(--spacing-28);
  margin-right: var(--spacing-28);
}

.mx-32 {
  margin-left: var(--spacing-32);
  margin-right: var(--spacing-32);
}

.my-2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.my-4 {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.my-6 {
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-6);
}

.my-8 {
  margin-top: var(--spacing-8);
  margin-bottom: var(--spacing-8);
}

.my-10 {
  margin-top: var(--spacing-10);
  margin-bottom: var(--spacing-10);
}

.my-12 {
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-12);
}

.my-16 {
  margin-top: var(--spacing-16);
  margin-bottom: var(--spacing-16);
}

.my-20 {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-20);
}

.my-24 {
  margin-top: var(--spacing-24);
  margin-bottom: var(--spacing-24);
}

.my-28 {
  margin-top: var(--spacing-28);
  margin-bottom: var(--spacing-28);
}

.my-32 {
  margin-top: var(--spacing-32);
  margin-bottom: var(--spacing-32);
}

/* Padding utilities */
.p-2 {
  padding: var(--spacing-2);
}

.p-4 {
  padding: var(--spacing-4);
}

.p-6 {
  padding: var(--spacing-6);
}

.p-8 {
  padding: var(--spacing-8);
}

.p-10 {
  padding: var(--spacing-10);
}

.p-12 {
  padding: var(--spacing-12);
}

.p-16 {
  padding: var(--spacing-16);
}

.p-20 {
  padding: var(--spacing-20);
}

.p-24 {
  padding: var(--spacing-24);
}

.p-28 {
  padding: var(--spacing-28);
}

.p-32 {
  padding: var(--spacing-32);
}

.pt-2 {
  padding-top: var(--spacing-2);
}

.pt-4 {
  padding-top: var(--spacing-4);
}

.pt-6 {
  padding-top: var(--spacing-6);
}

.pt-8 {
  padding-top: var(--spacing-8);
}

.pt-10 {
  padding-top: var(--spacing-10);
}

.pt-12 {
  padding-top: var(--spacing-12);
}

.pt-16 {
  padding-top: var(--spacing-16);
}

.pt-20 {
  padding-top: var(--spacing-20);
}

.pt-24 {
  padding-top: var(--spacing-24);
}

.pt-28 {
  padding-top: var(--spacing-28);
}

.pt-32 {
  padding-top: var(--spacing-32);
}

.pr-2 {
  padding-right: var(--spacing-2);
}

.pr-4 {
  padding-right: var(--spacing-4);
}

.pr-6 {
  padding-right: var(--spacing-6);
}

.pr-8 {
  padding-right: var(--spacing-8);
}

.pr-10 {
  padding-right: var(--spacing-10);
}

.pr-12 {
  padding-right: var(--spacing-12);
}

.pr-16 {
  padding-right: var(--spacing-16);
}

.pr-20 {
  padding-right: var(--spacing-20);
}

.pr-24 {
  padding-right: var(--spacing-24);
}

.pr-28 {
  padding-right: var(--spacing-28);
}

.pr-32 {
  padding-right: var(--spacing-32);
}

.pb-2 {
  padding-bottom: var(--spacing-2);
}

.pb-4 {
  padding-bottom: var(--spacing-4);
}

.pb-6 {
  padding-bottom: var(--spacing-6);
}

.pb-8 {
  padding-bottom: var(--spacing-8);
}

.pb-10 {
  padding-bottom: var(--spacing-10);
}

.pb-12 {
  padding-bottom: var(--spacing-12);
}

.pb-16 {
  padding-bottom: var(--spacing-16);
}

.pb-20 {
  padding-bottom: var(--spacing-20);
}

.pb-24 {
  padding-bottom: var(--spacing-24);
}

.pb-28 {
  padding-bottom: var(--spacing-28);
}

.pb-32 {
  padding-bottom: var(--spacing-32);
}

.pl-2 {
  padding-left: var(--spacing-2);
}

.pl-4 {
  padding-left: var(--spacing-4);
}

.pl-6 {
  padding-left: var(--spacing-6);
}

.pl-8 {
  padding-left: var(--spacing-8);
}

.pl-10 {
  padding-left: var(--spacing-10);
}

.pl-12 {
  padding-left: var(--spacing-12);
}

.pl-16 {
  padding-left: var(--spacing-16);
}

.pl-20 {
  padding-left: var(--spacing-20);
}

.pl-24 {
  padding-left: var(--spacing-24);
}

.pl-28 {
  padding-left: var(--spacing-28);
}

.pl-32 {
  padding-left: var(--spacing-32);
}

.px-2 {
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
}

.px-4 {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.px-6 {
  padding-left: var(--spacing-6);
  padding-right: var(--spacing-6);
}

.px-8 {
  padding-left: var(--spacing-8);
  padding-right: var(--spacing-8);
}

.px-10 {
  padding-left: var(--spacing-10);
  padding-right: var(--spacing-10);
}

.px-12 {
  padding-left: var(--spacing-12);
  padding-right: var(--spacing-12);
}

.px-16 {
  padding-left: var(--spacing-16);
  padding-right: var(--spacing-16);
}

.px-20 {
  padding-left: var(--spacing-20);
  padding-right: var(--spacing-20);
}

.px-24 {
  padding-left: var(--spacing-24);
  padding-right: var(--spacing-24);
}

.px-28 {
  padding-left: var(--spacing-28);
  padding-right: var(--spacing-28);
}

.px-32 {
  padding-left: var(--spacing-32);
  padding-right: var(--spacing-32);
}

.py-2 {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
}

.py-4 {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.py-6 {
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

.py-8 {
  padding-top: var(--spacing-8);
  padding-bottom: var(--spacing-8);
}

.py-10 {
  padding-top: var(--spacing-10);
  padding-bottom: var(--spacing-10);
}

.py-12 {
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}

.py-16 {
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}

.py-20 {
  padding-top: var(--spacing-20);
  padding-bottom: var(--spacing-20);
}

.py-24 {
  padding-top: var(--spacing-24);
  padding-bottom: var(--spacing-24);
}

.py-28 {
  padding-top: var(--spacing-28);
  padding-bottom: var(--spacing-28);
}

.py-32 {
  padding-top: var(--spacing-32);
  padding-bottom: var(--spacing-32);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
